/**
 * @Author: root
 * @Date:   2023-05-13T11:33:28+05:30
 * @Last modified by:   root
 * @Last modified time: 2023-05-14T22:37:41+05:30
 */
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');



.item_container{
  width: 381px;
  height: 554px;
  border: 1.37039px solid rgba(147, 162, 211, 0.38);
  border-radius: 20.937px;
}

@media only screen and (max-width:375px){
  .item_container{
    width: 271px;
    height: 484px;
    border: 0.876168px solid #373737;
    border-radius: 26.7725px;
  }
}

.item_image{
  width: 326px;
  height: 257px;
  margin-top: 27px;
  margin-left: 27px;
  margin-right: 28px;
}

@media only screen and (max-width:375px){
  .item_image{
    width: 204px;
    height: 166px;
    margin-top: 40px;
    margin-left: 34px;
    margin-right: 33px;
    border-radius: 27px;
  }
}



.item_title{
  width: 285px;
  height: 27px;
  margin-left: 43.17px;
  margin-top: 35.51px;
}

@media only screen and (max-width:375px){
  .item_title{
    width: 236px;
    height: 35px;
    margin-left: 19px;
    margin-top: 39px;

  }
}

.item_title p{
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 27px;
  font-family: 'Poppins', sans-serif;
  color: #0E2368;
}

@media only screen and (max-width:375px){
  .item_title p{
    font-size: 16px;
    line-height: 35px;
    letter-spacing: 0.05em;
    text-align: center;
  }
}

.item_text{
  width: 295px;
  height: 81px;
  margin-left: 43.17px;
  margin-top: 14px;
}

@media only screen and (max-width:375px){
  .item_text{
    width: 213px;
    height: 106px;
    margin-left: 28px;
    margin-top: 6px;

  }
}


.item_text p{
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: -0.02em;
  color: #444957;
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width:375px){
  .item_text p{
    font-size: 12px;
    line-height: 22px;
    letter-spacing: -0.01em;
    font-family: 'Source Sans Pro', sans-serif;
  }
}

.item_button{
  width: 131px;
  height: 36px;
  margin-left: 43.17px;
  margin-top: 33.41px;
}

@media only screen and (max-width:375px){
  .item_button{
    width: 118px;
    height: 26px;
    margin-left: 76px;
    margin-top: 26px;

  }
}


.item_button button{
  border-radius: 21px;
  width: 131px;
  height: 36px;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16.4447px;
  line-height: 36px;
  border-color: #424961;
  color: #424961;
  text-align:center;
}

@media only screen and (max-width:375px){
  .item_button button{
    border: 2px solid #424961;
    border-radius: 27px;
  }
}
