/**
 * @Author: root
 * @Date:   2023-05-10T17:22:58+05:30
 * @Last modified by:   root
 * @Last modified time: 2023-05-13T00:20:06+05:30
 */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
